.searchContainer {
  align-self: flex-start;
}

.searchContainer h3:first-child {
  margin: 0 0.5rem 0.25rem 0.5rem;
  color: darkslateblue;
}
.search-box {
  border-radius: 10%;
  margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}