.person-list {
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  width: 100%;
  background: lightgoldenrodyellow;
  border-left: 2px solid lightcoral;
  margin: 1rem 2rem 1rem 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  min-height: 30vh;
}

.person-list li {
  list-style-type: none;
  margin: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid gray;
}