.App {
  min-height: 100vh;
}

img, embed, object, video {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
}

input {
  margin: 1rem;
}

label {
  margin: 0.5rem;
}

button {
  margin: 0 0 1rem 0.5rem;
}